backend/node_modules/
backend/.env
backend/secrets/
backend/uploads/

frontend/node_modules/
frontend/coverage/
frontend/build/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

.prettierrc